[[language]]
name = "markdown"
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"]}
auto-format = true

[language-server.helix-snippets-ls]
command = "helix-snippets-ls"
args = ["--snippets", "~/.config/helix/snippets.toml"]

[[language]]
name = "python"
# language-servers = ["basedpyright", "helix-snippets-ls"]
language-servers = ["ty", "ruff", "helix-snippets-ls"]
formatter = { command = "ruff", args = [
  "format",
  "--stdin-filename",
  "temp.py",
  "--line-length",
  "100",
  "-",
] }
auto-format = true

[language-server.ty]
command = "ty"
args = ["server"]

[language-server.ty.config]
experimental.rename = true

[[language]]
name = "toml"
formatter = { command = "taplo", args = ["fmt", "-"] }

[[language]]
name = "rust"
auto-format = true

[[language]]
name = "nix"
auto-format = true
formatter = {
  command = "nixfmt"
}
